<section class="hero">

  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">Social App</h1>
      <h2 class="subtitle">Digital freedom for everyone</h2>
    </div>
  </div>

  <div class="hero-body">
    <div class="columns is-centered">
      <div class="column notification is-two-thirds">
        <div class="content">
          <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style>
          <div class='embed-container'>
            <iframe src='https://www.youtube-nocookie.com/embed/60J1JyhxB6k?rel=0&amp;controls=0&amp;showinfo=0' frameborder='0' allowfullscreen></iframe>
          </div>
          <!-- <iframe width="784" height="441" src="https://www.youtube-nocookie.com/embed/60J1JyhxB6k?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
        </div>
      </div>
    </div>
  </div>
</section>
