<!-- MORE STATS -->
<section id="graph-widgets" class="section">
  <div class="columns is-multiline has-text-centered">
    <div class="column is-half-tablet is-one-quarter-desktop">
      <div data-id="chain-hashrate" class="notification is-light">
        <h1 class="subtitle">Hashrate</h1>
        <h2 class="title">...</h2>
      </div>
    </div>
    <div class="column is-half-tablet is-one-quarter-desktop">
      <div data-id="chain-difficulty" class="notification is-light">
        <h1 class="subtitle">Difficulty</h1>
        <h2 class="title">...</h2>
      </div>
    </div>
    <div class="column is-half-tablet is-one-quarter-desktop">
      <div data-id="chain-blockTime" class="notification is-light">
        <h1 class="subtitle">Block Time</h1>
        <h2 class="title">...</h2>
      </div>
    </div>
    <div class="column is-half-tablet is-one-quarter-desktop">
      <div data-id="chain-retarget" class="notification is-light"
          style="white-space:nowrap;">
        <h1 class="subtitle">Retarget</h1>
        <h2 class="title">...</h2>
      </div>
    </div>
  </div>
  <div class="columns is-multiline has-text-centered">
    <div class="column is-half-tablet is-one-quarter-desktop">
      <div data-id="market-priceBtc" class="notification is-light">
        <h1 class="subtitle">Price</h1>
        <h2 class="title">...</h2>
      </div>
    </div>
    <div class="column is-half-tablet is-one-quarter-desktop">
      <div data-id="market-volumeBtc" class="notification is-light">
        <h1 class="subtitle">Volume</h1>
        <h2 class="title">...</h2>
      </div>
    </div>
    <div class="column is-half-tablet is-one-quarter-desktop">
      <div data-id="market-marketCapBtc" class="notification is-light">
        <h1 class="subtitle">Market Cap</h1>
        <h2 class="title">...</h2>
      </div>
    </div>
    <div class="column is-half-tablet is-one-quarter-desktop">
      <div data-id="chain-supply" class="notification is-light"
          style="white-space:nowrap;">
        <h1 class="subtitle">Supply</h1>
        <h2 class="title">...</h2>
      </div>
    </div>

  </div>


</section>
